html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.target-wrapper {
  background: transparent;
  border: none;
}

.pulse-dot {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
  /* We move the animation here so it doesn't fight Leaflet! */
  animation: pulse 1s infinite;
}

/* Custom target icons pulse */
@keyframes pulse {
  0% { transform: scale(1); opacity: 1}
  50% { transform: scale(1.5); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

.ping-wrapper {
  background: transparent;
  border: none;
}

.ping-dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  opacity: 0.6;
}